$background-color: #212121;
$text-color: #F5F5F5;
$editor-error-text-color: #ffcdd2;
$editor-button-background-hover-color: #616161;
$event-border-color: #9E9E9E;
$event-time-up-background-color: #b71c1c;

$xs-screen: '(max-width: 600px)';
$sm-screen: '(min-width: 600px)';
$md-screen: '(min-width: 800px)';
